.bg-1{
    background-color: #F0FFF0;
}
.logo{
    width: 198px;
}
.btn-sign-in{
    border-radius: 40px;
    padding: 8px 25px;
}
.subtitle-1{
    color: #FD511A;
}
.subtitle-2{
    color: #6C6B6B;
}
h1 span{
    color: #21B573;
}
.square-box{
    width: 230px;
    height: 230px;
    background-color: #F8FFFB;
    text-align: center;
    border-radius: 20px;
}
.s-img{
    height: 80px;
}
.s-icon{
    width: 24px;
    height: 24px;
}
.card{
    padding: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 20px lightgrey;
    height: 480px;
}
.man{
    width: 120px;
    height: 120px;
}
.para{
    width: 580px;
}
footer{
    font-family: sans-serif;
    font-weight: 400;
    background-color: black;
}
ul{
    list-style: none;
}